<ol>
<% @posts.each do |post| %>
  <li>
    <p><a href='<%= post.url %>'><%= post.title %></a></p>
    <a href='<%= "/posts/#{post.id}" %>'>Comments</a>
    <a href='<%= "/users/#{post.creator.id}" %>'>
      <%= post.creator.username %></a>
  </li>

<% end %>
</ol>
